
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Trainers</title>
</head>

<body>

<div class="container">

    <h3>Trainers</h3>
    <hr>

    <!-- Βutton -->
    <a th:href="@{/trainers/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Trainer
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTrainer : ${trainers}">

            <td th:text="${tempTrainer.fName}" />
            <td th:text="${tempTrainer.lName}" />
            <td th:text="${tempTrainer.subject}" />

            <td>
                <!-- Update Button -->
                <a th:href="@{/trainers/showFormForUpdate(trainerId=${tempTrainer.id})}"
                class="btn btn-info btn-sm">
                    Update
                </a>
                <!-- Delete Button -->
                <a th:href="@{/trainers/delete(trainerId=${tempTrainer.id})}"
                   class="btn btn-danger btn-sm"
                onclick="if (!(confirm('Are you sure you want to DELETE the trainer?'))) return false ">
                    Delete
                </a>

            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



